.slider-container {
    width: 100%;
    display: flex;
    gap: 8px;
    overflow-x: auto;
}

.slider-item {
    flex-shrink: 0;
    background-color: var(--surface-bg-color);
    width: 300px;
    border-radius: var(--corner-radius);
    overflow: hidden;
    cursor: pointer;
}

.slider-item:first-child {
    margin-left: 32px;
}

.slider-item:last-child {
    margin-right: 32px;
}

.slider-item-image-container {
    overflow: hidden;
    width: 100%;
    height: 180px;
}

.slider-item-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform .3s;
}

.slider-item:hover .slider-item-image {
    transform: scale(1.1);
}

.slider-item-title {
    padding: 16px;
}