.catalog-container {
    display: grid;
    gap: var(--page-horizontal-indent);
    grid-template-columns: repeat(3, auto);
    margin-top: 24px;
}

@media (max-width: 900px) {
    .catalog-container {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 580px) {
    .catalog-container {
        grid-template-columns: repeat(1, auto);
    }
}

.catalog-item {
    display: flex;
    flex-direction: column;
    background-color: var(--surface-bg-color);
    border-radius: var(--corner-radius);
    overflow: hidden;
    cursor: pointer;
}

.catalog-item-image-container {
    overflow: hidden;
    width: 100%;
    height: 240px;
}

.catalog-item-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform .3s;
}

.catalog-item:hover .catalog-item-image {
    transform: scale(1.1);
}

.catalog-item-title {
    padding: var(--indent-2);
}