:root {
  --accent-color: #007F73;
  --bg-color: white;
  --surface-bg-color: #f5f5f5;
  --text-color: #222222;
  --text-color-secondary: #999999;

  --divider-size: 1px;
  --corner-radius: 8px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color)
}

* {
  margin: 0
}

.icon {
  color: var(--accent-color);
  width: 24px;
  height: 24px;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-container {
  min-height: 64px;
  display: flex;
  background-color: var(--surface-bg-color);
  align-items: center;
  padding: 0 32px;
  font-size: 16px;
}

.header-logo {
  flex-grow: 1;
  font-size: 24px;
  color: var(--accent-color);
}

.menu-container {
  height: 100%;
  display: flex;
  gap: 16px;
  text-align: center;
}

.menu-item {
  display: flex;
  align-items: center;
  color: var(--text-color-secondary);
  text-decoration: none;
}

.menu-item:hover {
  color: #666666;
}

.menu-item-active {
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  border-top: 2px solid transparent;
  color: var(--text-color);
  text-decoration: none;
}

.tab-container {
  display: flex;
  flex: 1;
  overflow-y: hidden;
}

.tab-content {
  width: 100%;
  padding: 64px 0;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  gap: 48px;
}

.tab-section {
  padding: 0 32px;
}

.text-page-header {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 16px;
}

.text-section-header {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 8px;
}

p {
  font-size: 18px;
}

.text-body {
  font-size: 18px;
  max-width: 800px;
}

input{
  border: none;
  outline: none;
  display: inline-block;
  position: relative;
  height: 48px;
  width:320px;
  vertical-align: middle;
  border-radius: var(--corner-radius);
  box-sizing: border-box;
  padding:0 16px;
  font-size: 18px;
  background-color: var(--surface-bg-color);
}