:root {
  --accent-color: #5FBB97;
  --bg-color: #ffffff;
  --surface-bg-color: #ebedf3;
  --text-color: #222222;
  --text-color-secondary: #999999;

  --divider-size: 1px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color)
}

* {
  margin: 0
}

.icon {
  color: var(--accent-color);
  width: 24px;
  height: 24px;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-container {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding: 0 32px;
  font-size: 16px;
}

.header-logo {
  flex-grow: 1;
  font-size: 24px;
}

.menu-container {
  height: 100%;
  display: flex;
  gap: 16px;
  text-align: center;
}

.menu-item {
  display: flex;
  align-items: center;
  color: var(--text-color-secondary);
}

.menu-item-active {
  border-bottom: 2px solid white;
  border-top: 2px solid transparent;
  color: var(--text-color);
}

.tab-container {
  display: flex;
  flex: 1;
  overflow-y: hidden;
  background-color: var(--surface-bg-color);
}

.tab-content {
  width: 100%;
  padding: 64px 0;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  gap: 48px;
}

.tab-section {
  padding: 0 32px;
}

.text-page-header {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 16px;
}

.text-section-header {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 8px;
}

.text-body {
  font-size: 18px;
  max-width: 800px;
}